<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
	
	<if condition='isNull("logging.mode") || property("logging.mode").contains("console")'>
		<then>
			<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
		</then>
		<else>
			<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
		</else>
	</if>
	
	<root level="INFO">
		<if condition='isNull("logging.mode") || property("logging.mode").contains("console")'>
			<then>
				<appender-ref ref="CONSOLE" />
			</then>
			<else>
				<appender-ref ref="FILE" />
			</else>
		</if>
	</root>

</configuration>