info:
    build:
        artifact: ${project.artifactId}
        name: ${project.name}
        description: ${project.description}
        version: ${project.version}

endpoints:
    shutdown:
        enabled: false
        
environments:
    dev:
        url: http://dev.bar.com
        name: Developer Setup
    prod:
        url: http://foo.bar.com
        name: My Cool App    

network:
    discovery:
        multicast:
            enabled: false

logging:
    level:
        org.springframework.web: INFO
        io.mandrel: DEBUG
        org.apache.cxf: WARN
        org.apache.cxf.interceptor.LoggingInInterceptor: DEBUG
        org.apache.cxf.interceptor.LoggingOutInterceptor: DEBUG
        org.hibernate: ERROR
