environments:
    dev:
        url: http://dev.bar.com
        name: Developer Setup
    prod:
        url: http://foo.bar.com
        name: My Cool App    

network:
    discovery:
        multicast:
            enabled: false

http:
    port: 8080

server:
    port: 8080
    #address:
    
spring:
    pidfile: application.pid
    groovy:
        template:
            check-template-location: false
    mustache:
        suffix: .html
    
graphite:
    enabled: false
    port: 2003
    host: localhost
    
logging:
    console:
        enabled: true
        level: WARN
    level:
        org.springframework: INFO
        io.mandrel: DEBUG
        io.mandrel.messaging: DEBUG
        
management:
    context-path: /admin
        
info:
    artifact: @project.artifactId@
    name: @project.name@
    description: @project.description@
    version: @project.version@
    commit:
        id: @git.commit.id@
        message: @git.commit.message.full@
        time: @git.commit.time@
        branch: @git.branch@
        dirty: @git.dirty@
        originUrl: @git.remote.origin.url@

endpoints:
    shutdown:
        enabled: true
    health:
        time-to-live: 5000

